@import "../../config/variables";

$input-min-w: 3em;
$input-max-w: 4em;

.input-group {
	position: relative;
	// padding-top: 1rem;
	margin: 0.5rem 5px;
	padding: 1rem .75rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: 2px solid transparent;
	&:focus-within {
		// border-color: $fg-divider;
		border-color: $form-bg;
		// box-shadow: 1px 4px 24px 0px rgba(0, 0, 0, 0.1);
		// background-color: rgba($form-bg,0.5);
	}
}


.input-wrap {
	position: relative;
	margin: .5rem 0;
	min-width: $input-min-w;
	max-width: $input-max-w;
}
label {
	font-size: .7rem;
	text-transform: uppercase;
	line-height: 1;
	word-wrap: wrap;
}

.facade,
.input-field,
input {
	box-sizing: border-box;
	font-size: $form-font-size;
	height: 2.5em;
	line-height: 2.5em;
	width: 100%;
	min-width: 3em;
	max-width: 4em;
	padding: 0;
	background-color: #fff;
	border-radius: $corner-rad;
	border: 2px solid transparent;
	text-align: center;
	transition: all .4s;

	// border: none;
	background-color: $form-bg;

	&:hover {
		border-color: $fg-divider;
	}
	&:focus {
		border-color: $color-focus;
		outline: none;

	}

	&[type="number"] {
		text-indent: 12px;
		line-height: 1em;
	}
}

.facade {
	@extend .input-wrap;
	width: initial;
}

select.input-field {
	// text-indent: 1.25em;
	// * Setting padding will be passed down to options, but text-indent is not passed down.
	// * As a result, we use a combination of padding and indent to get the right look.
	text-indent: 0.25em;
	padding-left: 0.5em; 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.units {
	position: absolute;
	// padding-left: 2em;
	// margin-top: 2px;
	// margin-left: .5rem;
	// line-height: 2em;
	top: 1rem;
	left: 1rem;
	font-weight: 600;
	margin-top: -1px;
}

// * ===== SHUTTER SPEED ===== * //
.shutter {
	.input-wrap {
		max-width: 3.5em;
	}
}

// * ===== APERTURE ===== * //
// .aperture {
// 	.input-field {
// 		line-height: 2.3em;
// 	}
// }

// * ===== ISO ===== * //
.iso {
	.units {
		line-height: 1;
		// margin-left: 1rem;
		// margin-top: 1.25rem;
		left: 1rem;
		top: 1.25rem;
		font-size: .6em;
		background-color: rgba(0,0,0,1);
		border-radius: 4px;
		color: #fff;
		padding: .25em;
	}
}
