$form-font-size: 1.5rem;
$form-bg: #ecf0f1;
$locked-bg: #ecf0f1;
$locked-input-bg: rgba(#000, 0.05);
$locked-fg: rgba(#000, 0.5);
$corner-rad: 6px;

$icon-active:     rgba(0,0,0,.54);
$icon-inactive:   rgba(0,0,0,.38);
$icon-white-active:     rgba(255,255,255,1);
$icon-white-inactive:   rgba(255,255,255,.5);

$fg-primary: rgba(#000,0.87);
$fg-secondary: rgba(#000,0.5);
$fg-disabled: rgba(#000,0.32);
$fg-divider: rgba(#000,0.12);

$color-focus: #3498db;