.var-hero {
	font-size: 1.5rem;
	line-height: 2;
	font-weight: 400;
}
.facade {
	border: 2px solid rgba(0, 0, 0, 0.12);
	border-radius: 6px;
	min-width: 2rem;
	max-width: 6rem;
	padding: 0 .75rem;
	width: initial;
	margin: 0;
}