@import "../config/variables";


.locked {
	// outline: 2px solid red;
	// opacity: 0.5;
	background-color: $locked-bg;
	.input-field {
		background-color: $locked-input-bg;
		// color: $locked-fg;
		border-color: transparent;
		font-weight: 600;
		// cursor: not-allowed;
		pointer-events: none;
	}
}
// form, input {
// }
form {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	section {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;

	}
}