$icon-active:     rgba(0,0,0,.54);
$icon-inactive:   rgba(0,0,0,.38);
$icon-white-active:     rgba(255,255,255,1);
$icon-white-inactive:   rgba(255,255,255,.5);

// Default State: Unlocked, Can be locked

.lock-btn {
	background: transparent;
	outline: none;
	border: none;
	color: $icon-inactive;
	transition: all 1s;
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;

	i {
		font-size: 2rem;
		&::before {
			content: "lock_open"
		}
	}
	
	&:hover, &:focus {
		color: $icon-active;
		// background-color: rgba(#000,0.12);

		i::before {
			content: "lock"
		}
	}
}

// .lock-icon {
// }
.locked {
	.lock-btn {
		color: $icon-active;
		// background-color: rgba(#000,0.12);

		&:hover, &:focus {
			// i::before {
			// 	content: "lock_open"
			// }
		}
	}
	i::before {
		content: "lock"
	}
}