@import "../config/variables";

// Default State: Unlocked, Can be locked

.lock-btn {
	background: transparent;
	outline: none;
	border: none;
	color: $icon-inactive;
	transition: all 1s;
	padding: 1rem;
	border-radius:6px;
	cursor: pointer;

	i {
		font-size: 2rem;
		&::before {
			content: "lock_open"
		}
	}
	
	&:focus {
		color: $icon-active;
	}
	&:hover {
		color: $icon-active;
		// background-color: rgba(#000,0.12);

		// i::before {
		// 	content: "lock"
		// }
	}
}

// .lock-icon {
// }
.locked {
	.lock-btn {
		color: $icon-active;
		// background-color: rgba(#000,0.12);

		&:hover, &:focus {
			// i::before {
			// 	content: "lock_open"
			// }
		}
	}
	i::before {
		content: "lock"
	}
}